body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 966px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.score {
  display: flex;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.quiz p {
  font-size: 30px;
  font-weight: bold;
}

.quiz form {
  display: flex;
  flex-flow: column;
  align-items: baseline;
}

.quiz form input[type="submit"] {
  margin: 20px 0;
}
